*.out
__pycache__/*
.ipynb_checkpoints/*
*.csv
*.ipynb
*.parquet
*.xlsx
*/*

!ESTTM_old/*
!docs/*
!SLURM/*
!scripts/*
scripts/__pycache__/*
scripts/sim_code/__pycache__/*
!config_files/*
!input_data/*